[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
"jinja2" = "*"

[dev-packages]
jedi = "*"
"flake8" = "*"
pytest = "*"
wheel = "*"
mypy = "*"
black = "==19.3b0"

[requires]
python_version = "3.7.4"
